<div id="footerContent">
  <footer class="page-footer container-fluid">
    <div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-2 col-md-2 col-sm-12">
          <h4 class="feature-title font-weight-bold text-secondary">Home</h4>
          <a class="nav-item nav-link text-white mini-text-attrib " href="/about/">About Us</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <h4 class="feature-title font-weight-bold text-secondary">Offices</h4>
          <a class="nav-item nav-link text-white mini-text-attrib " href="#Offices">Baguio City</a>
          <a class="nav-item nav-link text-white mini-text-attrib " href="#Offices">Quezon City</a>
          <a class="nav-item nav-link text-white mini-text-attrib " href="#Offices">Cebu City</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <h4 class="feature-title font-weight-bold text-secondary">Services</h4>
          <a class="nav-item nav-link text-white mini-text-attrib " href="/db-management/">Database Management</a>
          <a class="nav-item nav-link text-white mini-text-attrib " href="/net-security/">Network
            Security</a>
          <a class="nav-item nav-link text-white mini-text-attrib " href="/data-storage/">Data Storage</a>
          <a class="nav-item nav-link text-white mini-text-attrib " href="/customer-support/">Customer
            Support</a>
          <a class="nav-item nav-link text-white mini-text-attrib " href="/net-setup/">Network Setup</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <h4 class="feature-title font-weight-bold text-secondary">Opportunities</h4>
          <a class="nav-item nav-link text-white mini-text-attrib " href="/contact-us/">Join Us</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <h4 class="feature-title font-weight-bold text-secondary">Contact Us</h4>
          <p class="mini-text-attrib text-white"><br />(123) 456-7890<br />eagle.aguila@gmail.com<br />123 Baguio City,
            Philippines</p>
        </div>
      </div>
      <div class="footer-copyright text-right">
        Terms of Use<br />Privacy Policy
      </div>
    </div>
  </footer>
</div>
