<div class="container-fluid product-margin">
	<div class="row text-center justify-content-center">
		<div class="col-lg-10 col-md-10 col-sm-12">
			<img class="services-front" src="./assets/images/Services/IDBM/IntelligentDatabaseManagement.jpg"/>
		</div>
	</div>
	<div class="row product-margin justify-content-center">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h3 class="IDMBG-text text-white">Intelligent Database Management</h3>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<img class="IDMBG-DBimg" src="https://media-public.canva.com/MADpuorTLfU/1/screen.svg"/>
		</div>
		<img class="position-absolute bg-scale" src="https://media-public.canva.com/MAAQotO-_-8/1/screen.svg"/>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<p class="mini-text-attrib text-white IDMBG-indent">
				Our tech-powered Database service leveraging automation and machine learning, ensures access to large volumes of
				contactable contacts and unique accounts in a remarkably shorter span of time. Also you can consider a database
				that represents information about moving objects and their location. For example, for a database representing
				the location of taxi-cabs a typical query may be: retrieve the free cabs that are currently within 1 mile of 33
				Session Road, Baguio City (to pickup a customer). In the military, moving object database applications arise in
				the context of the digital battlefield and in the civilian industry they arise in transportation systems. 
			</p>
			<p class="mini-text-attrib text-white IDMBG-indent product-margin">
				The end result is verified, structured, clean and on-demand generated B2B database – a dream come true for
				any lead generation campaign. And the cherry on the cake? You have upfront visibility to the quality score
				of the database – so no more hitting the blind spot!
			</p>
			<p class="mini-text-attrib text-white IDMBG-indent product-margin">
				With benefits such as higher accuracy and speed, greater depth of profiling, reduction in manual errors,
				high volumes of clean, standardized and high-quality data, deeper market access and lower costs – the journey
				to achieve stellar market penetration could just start right away for your business!
			</p>
		</div>
	</div>
	<div class="row justify-content-center my-offset">
		<div class="col-lg-8 col-md-8 col-sm-12 text-center">
			<h3 class="feature-title text-white">Ready to future-proof your business?</h3>
			<p class="mini-text-attrib text-white">Fill in the form below to request a quote.</p>
		</div>
	</div>
	<div id="ContactInput">
	</div>
</div>