<div class="container-fluid my-offset">
	<div class="row text-center justify-content-center">
		<div class="col-lg-10 col-md-10 col-sm-12">
			<img class="services-front" src="./assets/images/Services/dataStorage/dataStorage.webp"/>
		</div>
	</div>
	<div class="row product-margin justify-content-center">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h3 class="feature-title dataStorage-text text-white">Data Storage</h3>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<img class="IDMBG-DBimg" src="https://media-public.canva.com/ih3LU/MAD0avih3LU/1/s.svg"/>
		</div>
		<div id="dataBox">
            <img class="position-absolute data-bgScale" src="./assets/images/Services/dataStorage/dataBox.svg"/>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<p class="mini-text-attrib text-white IDMBG-indent">
				Our team of experts can develop strategies and solutions that will survive even the most unexpected
				disasters — natural, cyber or otherwise.
			</p>
			<p class="mini-text-attrib text-white IDMBG-indent product-margin">
				Keeping your company's data safe and secure is critical for your business, your employees and your
				customers' data. Protecting your data from threats such as ransomware, malware or internal breaches
				is key to maintaining your business’ reputation and ensuring your survival.
			</p>
		</div>
	</div>
	<div class="row whitespace">
		<div class="col-lg-2 col-md-2 col-sm-12">
		</div>
		<div class="col-lg-5 col-md-5 col-sm-12 text-left">
			<p class="mini-text-attrib text-white">Why your organisation needs Eagle, Inc.</p>
			<p class="mini-text-attrib font-weight-bold text-white">Strategic thinking	</p> 
			<p class="mini-text-attrib text-secondary">
				Our strategic vision means that you’ll always be prepared for the worst-case scenario. 
				So, if and when you have a disaster, your business can be up and running in no time.
			</p>
			
			<p class="mini-text-attrib font-weight-bold text-white">Internal awarenesst</p> 
			<p class="mini-text-attrib text-secondary">
				You can rest easy in the knowledge that we monitor your backups and disaster recovery daily,
				ensuring you are kept in the loop about any failures that occur within your system.
			</p>
			
			<p class="mini-text-attrib font-weight-bold text-white">A proactive mindset</p> 
			<p class="mini-text-attrib text-secondary">
				All of our backup and disaster recovery solutions include maintenance and monitoring. 
				This means that not only is your data stored safely, but your backup solution is always up to date.
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
		</div>
	</div>
	<div class="row justify-content-center my-offset">
		<div class="col-lg-8 col-md-8 col-sm-12 text-center">
			<h3 class="meet-team text-white">Ready to future-proof your business?</h3>
			<p class="mini-text-attrib text-white">Fill in the form below to request a quote.</p>
		</div>
	</div>
</div>