<h2 class="text-center feature-title my-toppadding text-white">Our Services</h2>
<div class="row justify-content-center my-offset container-fluid">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <img class="ourservices-page rounded" src="./assets/images/DatabaseManagement.jpg"/>
    <h2 class="mini-text-attrib font-weight-bold ourservices-name">Database Management</h2>
    <a (click)="goDBManagement()" class="btn btn-secondary btn-lg active ourservices-btn" role="button"
      aria-pressed="true">Learn More ></a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <img class="ourservices-page rounded" src="./assets/images/NetworkSecurity.jpg"/>
    <h2 class="mini-text-attrib font-weight-bold ourservices-name">Network Security</h2>
    <a (click)="goNetSecurity()" class="btn btn-secondary btn-lg active ourservices-btn" role="button"
      aria-pressed="true">Learn More ></a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <img class="ourservices-page rounded" src="./assets/images/DataStorage.jpg"/>
    <h2 class="mini-text-attrib font-weight-bold ourservices-name">Data Storage</h2>
    <a (click)="goDataStorage()" class="btn btn-secondary btn-lg active ourservices-btn" role="button"
      aria-pressed="true">Learn More ></a>
  </div>
</div>
<div class="whitespace container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img class="ourservices-page rounded" src="./assets/images/CustomerSupport.jpg"/>
      <h2 class="mini-text-attrib font-weight-bold ourservices-name">Customer Support</h2>
      <a (click)="goCustomerSupport()" class="btn btn-secondary btn-lg active ourservices-btn" role="button"
        aria-pressed="true">Learn More ></a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img class="ourservices-page rounded" src="./assets/images/NetworkSetup.png"/>
      <h2 class="mini-text-attrib font-weight-bold ourservices-name">Network Setup</h2>
      <a (click)="goNetSetup()" class="btn btn-secondary btn-lg active ourservices-btn" role="button"
        aria-pressed="true">Learn More ></a>
    </div>
  </div>
</div>