<div class="container-fluid product-margin">
	<div class="row text-center justify-content-center">
		<div class="col-10">
			<img class="services-front" src="./assets/images/Services/networkSetup/networkSetup.webp"/>
		</div>
	</div>
	<div class="row product-margin">
		<div class="offset-lg-2 offset-md-2 col-lg-6 col-md-6 col-sm-12">
			<h3 class="feature-title IDMBG-text text-white netwrk-sec">Network Setup</h3>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<img class="IDMBG-DBimg" src="https://media-public.canva.com/6TkbU/MADr0I6TkbU/2/screen.svg"/>
		</div>
		<img class="position-absolute network-setup-globe" src="https://media-public.canva.com/MAAQotO-_-8/1/screen.svg"/>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<p class="mini-text-attrib text-white IDMBG-indent">
					Having to reshuffle machines, finding which cable goes where or finding a switch to connect to your
					networking is confusing for most of us. The experienced team at Eagle, Inc. can help you with all
					your networking needs. Eagle, Inc. can provide a scalable network solution to ensure that you get
					the right network for your organization, especially one that has the flexibility to grow with you
					and your business. We are experienced in offering Network Services to small and medium organizations
					throughout Baguio City, Quezon City and Cebu City.
			</p>
			
			<p class="mini-text-attrib text-white product-margin">Local Area Network (LAN)</p>
			<p class="mini-text-attrib text-white IDMBG-indent">
				Your Local Area Network makes up the backbone of your network and can be either an asset 
				or a liability to your business depending on its implementation. Eagles, Inc. delivers practical 
				LAN’s which fit your environment and integrate effectively with other networks whether wireless or 
				Wide Area Networks (WAN).
			</p>
			
			<p class="mini-text-attrib text-white product-margin">Wide Area Network (WAN)</p>
			<p class="mini-text-attrib text-white IDMBG-indent">	
				The choice of Wide Area Network solutions, technology and carriers can be complex and confusing. 
				Eagle, Inc. simplifies the whole experience by outlining a clear choice including the pros and cons 
				of each option.
			</p>
		</div>
	</div>
	<div class="row justify-content-center my-offset text-center">
		<div class="col-6">
			<h3 class="meet-team text-white">
				We can provide advice on service providers and solutions regarding the following
			</h3>
		</div>
	</div>
	<div class="row justify-content-center whitespace text-center">
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div id="phoneServices">
                <img class="network-security" src="./assets/images/Services/networkSetup/phoneServices.svg"/>
			</div>
			<p class="mini-text-attrib product-margin text-secondary">Phone Services</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<img class="network-security" src="./assets/images/Services/networkSetup/ADSLnaked.png"/>
			<p class="mini-text-attrib product-margin text-secondary">ADSL and Naked ADSL</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div id="VPN">
                <img class="network-security" src="./assets/images/Services/networkSetup/vpn.svg"/>
			</div>
			<p class="mini-text-attrib product-margin text-secondary">VPN</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div id="Routers">
                <img class="network-security" src="./assets/images/Services/networkSetup/routers.svg"/>
			</div>
			<p class="mini-text-attrib product-margin text-secondary">Routers</p>
		</div>
	</div>
	<div class="row justify-content-center text-center product-margin">
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div class="product-margin">
				<img class="network-security" src="./assets/images/Services/networkSetup/wirelessNetwork.png"/>
				<p class="mini-text-attrib product-margin text-secondary">Wireless Networks</p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div class="product-margin">
				<img class="network-security" src="./assets/images/Services/networkSetup/RDP.png"/>
				<p class="mini-text-attrib product-margin text-secondary">Remote Access (RDP)</p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">					
			<div class="product-margin">
				<img class="network-security" src="https://media-public.canva.com/Eb708/MAEFhBEb708/1/s.svg"/>
				<p class="mini-text-attrib product-margin text-secondary">Wiring</p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div class="product-margin">
				<div id="switches">
                    <img class="network-security" src="./assets/images/Services/networkSetup/switches.svg"/>
				</div>
				<p class="mini-text-attrib product-margin text-secondary">Switches</p>
			</div>
		</div>
	</div>
	<div class="row justify-content-center my-offset">
		<div class="col-lg-8 col-md-8 col-sm-12 text-center">
			<h3 class="feature-title text-white">Ready to future-proof your business?</h3>
			<p class="mini-text-attrib text-white">Fill in the form below to request a quote.</p>
		</div>
	</div>
</div>