<div class="container-fluid">
	<div class="text-center whitespace">
		<img src="./assets/images/meetTeam/head.webp" class="position-absolute eagle-head"/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<h2 class="feature-title text-secondary product-font">Eagle, Inc.</h2>
		<h2 class="meet-team text-white product-font whitespace">Our Team</h2>
	</div>
	<div class="row justify-content-center whitespace text-center text-white">
			<img src="./assets/images/meetTeam/wings.webp" class="position-absolute eagle-wing"/>
		<div class="col-lg-3 col-md-3 col-sm-12">
			<img src="./assets/images/meetTeam/ExecutiveDirector.webp" class="team-size"/>
			<p class="mini-text-attrib my-toppadding">Kevin Dykes Aguila</p>
			<p class="mini-text-attrib">Executive Director</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12">
			<img src="./assets/images/meetTeam/ManagingDirector.webp" class="team-size"/>
			<p class="mini-text-attrib my-toppadding">Banz Beronio</p>
			<p class="mini-text-attrib">Managing Director</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12">
			<img src="./assets/images/meetTeam/NationalOperations.webp" class="team-size"/>
			<p class="mini-text-attrib my-toppadding">Jasm Casingal</p>
			<p class="mini-text-attrib">National Operations Manager</p>
		</div>
	</div>
	<br/>
	<div class="row justify-content-center text-center text-white">
		<div class="col-lg-4 col-md-4 col-sm-12">
			<img src="./assets/images/meetTeam/NationalSales.webp" class="team-size"/>
			<p class="mini-text-attrib my-toppadding">Frank Jr, Ram</p>
			<p class="mini-text-attrib">National Sales Manager</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<img src="./assets/images/meetTeam/TechnicalSpecialist.webp" class="team-size"/>
			<p class="mini-text-attrib my-toppadding">Andrew Belleza</p>
			<p class="mini-text-attrib">Technical Specialist Manager</p>
		</div>
	</div>
	<div class="row justify-content-center text-center text-white">
		<div class="col-lg-3 col-md-3 col-sm-12 offset-3 product-margin">
			<h2 class="feature-title text-secondary pillar-pos">Our Pillars</h2>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12">
			<img src="https://media-public.canva.com/MADhBCEF_1o/1/screen.png" class="feather">
		</div>
	</div>
	<div class="row text-center justify-content-center pillar-margin text-secondary">
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div id="collaboration">
                <img class="pillar-img" src="./assets/images/meetTeam/collaboration.svg"/>
			</div>
			<p class="mini-text-attrib text-uppercase font-weight-bold">COLLABORATION</p>
			<br/>
			<br/>
			<br/>
			<p class="mini-text-attrib">We’re driven by communication, co-creation and inclusiveness. Being open and transparent means delivering efficiency, flexibility, freedom and security.</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div id="lifelonglearning">
                <img class="pillar-img" src="./assets/images/meetTeam/lifelonglearning.svg"/>
			</div>
			<p class="mini-text-attrib text-uppercase font-weight-bold">LIFE-LONG LEARNING</p>
			<br/>
			<br/>
			<br/>
			<p class="mini-text-attrib">We are defined by our pursuit of knowledge and progress, forever cultivating wisdom through experience, shared ideas and fresh perspective.</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div id="humancentered">
                <img class="pillar-img" src="./assets/images/meetTeam/humancentered.svg"/>
			</div>
			<p class="mini-text-attrib text-uppercase font-weight-bold">HUMAN-CENTRED THINKING</p>
			<br/>
			<br/>
			<br/>
			<p class="mini-text-attrib">Meaningful problem-solving means ensuring the user and human-perspective is at the core of everything we do.</p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12">
			<div id="transformation">
                <img class="pillar-img" src="./assets/images/meetTeam/transformation.svg"/>
			</div>
			<p class="mini-text-attrib text-uppercase font-weight-bold">TRANSFORMATION</p>
			<br/>
			<br/>
			<br/>
			<p class="mini-text-attrib">Growth and change is at the heart of what we deliver. This means listening to and understanding our client’s business, their pain points and vision to create a newer, better and safer environment to thrive.</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div>
			<img src="./assets/images/meetTeam/claw.png" class="team-claw"/>
		</div>
	</div>
</div>